<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="C_Sharp_Challenges.C_Sharp_Challenges" android:versionCode="1" android:versionName="1.0" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="22" />
	<application android:theme="@android:style/Theme.Holo.Light" android:allowBackup="true" android:label="@string/app_name" android:icon="@drawable/cSharpLogo"></application>
</manifest>